In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

import sklearn
from sklearn.model_selection import train_test_split

# Dataset

In [2]:
# load dataset
df = pd.read_csv('iris-data-dscn-tree.csv')
df.head()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [3]:
df["class"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [4]:
df.describe()

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count       150.000000      150.000000       150.000000      145.000000
mean          5.644627        3.054667         3.758667        1.236552
std           1.312781        0.433123         1.764420        0.755058
min           0.055000        2.000000         1.000000        0.100000
25%           5.100000        2.800000         1.600000        0.400000
50%           5.700000        3.000000         4.350000        1.300000
75%           6.400000        3.300000         5.100000        1.800000
max           7.900000        4.400000         6.900000        2.500000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  150 non-null    float64
 1   sepal_width_cm   150 non-null    float64
 2   petal_length_cm  150 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   class            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
#Removing all null values row
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  145 non-null    float64
 1   sepal_width_cm   145 non-null    float64
 2   petal_length_cm  145 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   class            145 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.8+ KB

In [7]:
df['class'].replace(["Iris-setosa","Iris-versicolor","Iris-virginica"], [0,1,2], inplace=True)

In [8]:
df.head()

   sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm  class
0              5.1             3.5              1.4             0.2      0
1              4.9             3.0              1.4             0.2      0
2              4.7             3.2              1.3             0.2      0
3              4.6             3.1              1.5             0.2      0
4              5.0             3.6              1.4             0.2      0

## Now dividing the dataset
- First in input data (X) and output data (y) 
- Then dividing training and test data (No validation, but why?) 
- Also added an extra column with all 1's. (Why)

In [9]:
inp_df = df.drop(df.columns[[4]], axis=1)
out_df = df.drop(df.columns[[0,1,2,3]], axis=1)

# dividing into train and test data
X_train, X_test, y_train, y_test = train_test_split(inp_df, out_df, test_size=0.2, random_state=42)

# Decision Tree

In [10]:
from sklearn.metrics import confusion_matrix 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score

In [11]:
# Decision tree classifier 
# here

#fitting the training data
# here

In [12]:
# prediction on X_test (testing data )
# here
# print(y_pred)

In [13]:
#Accuray of the model 
# print("Accuracy:", accuracy_score(y_test, y_pred))
#confusion matrix
# cm=np.array(confusion_matrix(y_test, y_pred))
# cm

In [14]:
'''
from sklearn import tree

#plot decision tree
fig, ax = plt.subplots(figsize=(150, 150)) #figsize value changes the size of plot
tree.plot_tree(DT,ax=ax,feature_names=inp_df.keys())
plt.show()
'''

'\nfrom sklearn import tree\n\n#plot decision tree\nfig, ax = plt.subplots(figsize=(150, 150)) #figsize value changes the size of plot\ntree.plot_tree(DT,ax=ax,feature_names=inp_df.keys())\nplt.show()\n'